/*-----Color Scheme----*/

/*Navy            :#1B263B
Deep Blue       :#2B5876
Purple          :#4E4376
Light Blue-Grey : #E9EEF2
White           : #FFFFFF*/

/*Additional Color used:#AAB2BD*/

    
/*Wrapper*/ 
#wrapper {
    width: 80%;
}
/*Header*/
header {
    padding: 35px;
}
header h1{
    font-size: 2.5em;
}
/*Navigation*/

nav a {
    display:block;
    padding: 16px 25px;
    font-size: 1.05em;
}

/* Main Content */
main {
    padding: 30px;

 }
main h2 {
    font-size: 2em;
}
main h3 {
    font-size: 1.4em;
}

/*Sections*/
section{
    margin-bottom: 26px;
    padding: 26px;
}
/* Articles */
article{
    margin-bottom: 26px;
    padding: 26px;
}
/* About page IMG*/
section img {
    width: 300px;
}
/* Video */
video {
    width: 600px

}
/* Contact Form */
form{
    width: 70%;
}
label{
    font-weight:bold;
    color: #2b5876;
}

input[type="text"],
input[type="email"],
input[type="tel"]{
     width: 70%; 
    }
textarea{
    width: 90%;
}
input[type="submit"],
input[type="reset"] {
     margin-right: 10px;
}

/*Footer*/

footer{
    width: 80%;
}

