/*-----Color Scheme----*/

/*Navy            :#1B263B
Deep Blue       :#2B5876
Purple          :#4E4376
Light Blue-Grey : #E9EEF2
White           : #FFFFFF*/

/*#AAB2BD*/
/*-------Body-----*/

/*Wrapper*/ 
#wrapper {
    width: 90%;

}
/*Header*/
header {
    padding: 20px;
}
header h1{
    margin-bottom: 10px;
    font-size: 2em;
}
/*Navigation*/

nav a {
    display:block;
    padding: 12px 15px;
}

/* Main Content */
main {
    padding: 15px;
}

/*Sections*/
section{
    margin-bottom: 16px;
    padding: 16px;

}
/* Articles */
article{
    padding: 18px;
}
/* About page IMG*/
section img {
    max-width: 80%;
}
/* Video */
video {
    max-width: 80%;
}
/* Contact Form */
input,textarea{
    width: 80%;
}
textarea{
    width: 100%;
}


